@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6 mt-3">
<h1>Save your files</h1>
    <hr />
    <form method="post" action="Home/Save">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter title here ..." name="title" />
        </div>
        <div class="form-group">
            <textarea class="form-control" name="body" rows="25" placeholder="Enter description here ..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
</div>
